<%= model.form_for %>
  <fieldset>
    <%= model.render_form_fields %>
	
  	<div id="save_button">
  		<%= model.save_form_button %>
  	</div>
    <%= model.make_resourceful_link_to(:index, :template => :form) %>
	</fieldset>
<%% end %>