<div class="form_fields" id="fields_for_<%= model.singular_name %>">

  <%= model.error_messages %>

<% model.attributes_for(:form).each do |attribute| -%>
  <div class="form_field">
    <%= attribute.form_label_and_field %>
  </div>
  
<% end -%>

</div>