<%= model.error_messages %>
<% model.attributes_for(:mass_assignment) do |attribute| -%>
	<p>
		<%= attribute.form_label %>
    <%= attribute.form_field %>
	</p>
<% end -%>
<%- model.associations_for(:form) do association -%>
  <%- model.render_fields_for association %>
<% end -%>