<div class="<%= model.singular_name %>">
<% model.attributes_for(:index) do |attribute| -%>
	<div class="<%= attribute.format %>">
		<%= attribute.display(:partial) %>
	</div>
<% end -%>

  <div class="link_to_edit"><%%= model.link_to(:edit, :partial => true) %></div>
  |
  <div class="link_to_destroy"><%%= model.link_to(:destroy, :partial => true) %></div>
  |
  <div class="link_to_index"><%%= model.link_to(:index, :partial => true) %></div>
</div>
